{{form_start(form, {'attr': {'novalidate': 'novalidate'}})}}

    {{form_label(form.ip, 'Please enter the Url')}}
    {{form_widget(form.ip)}}
    {{ form_errors(form.ip)}}

    <div>
        <button class="btn btn-primary mt-3" type="submit">Confirm</button>
    </div>

{{form_end(form)}}
