{% extends 'base.html.twig' %}

{% block title %}IP Monitor{% endblock %}

{% block body %}

    <h1>Url Monitor</h1>
    {% if ipsStatus|length > 0 %}
        <div class="d-flex flex-wrap justify-content-center flex-row">
            {% for ip in ipsStatus %}
                <div class="{{ip.status == true? 'text-white border-success ' : 'text-white border-secondary '}}card m-2 p-2 bg-transparent flex-fill">
                    <div class="card-body">
                        <h5 class="card-title">
                            {% if ip.status == 1 %}
                                <p class="text-success">Online <i class="bi bi-wifi"></i></p>
                            {% else %}
                                <p class="text-success">Offline <i class="bi bi-wifi-off"></i></p>
                            {% endif %}
                        </h5>
                        <p class="card-text">{{ip.ip}}</p>
                        {% if ip.lastPing %}
                            <p class="text-secondary">Last check {{ip.lastping|date('d/m/Y')}}</p>
                        {% else %}
                            <p class="text-secondary">Never Checked</p>
                        {% endif %}
                        <div class="d-flex flex-row justify-content-between">
                            <a href="{{path('app_ip_status_show', {ipStatus:ip.id})}}" class="btn btn-secondary">Show</a>
                            <a href="{{path('app_ip_status_edit', {ipStatus:ip.id})}}" class="btn btn-warning">Edit</a>
                            <a href="{{path('app_ip_status_delete', {ipStatus:ip.id})}}" class="btn btn-danger">Delete</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <p>Nothing To Monitoring Here!</p>
    {% endif %}

{% endblock %}
